<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ keyword }}的搜索结果</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <div class="container">
        <h1 class="display-2">{{ title }}</h1>

        {% for threat in threats %}

        <div>
            <a href="/details/{{ threat.ip }}" class="h1">{{ threat.ip }}</a>
            <div class="row">
                <div class="col">
                    <p class="text-muted" style="font-size: small; margin-bottom: 0">query: {{ threat.query }}</p>
                    {% if threat.original.isp %}
                        <p class="font-weight-bold" style="margin-bottom: 0">{{ threat.original.isp }}</p>
                    {% endif %}
                    {% if threat.original.last_update %}
                        <p class="text-muted" style="font-size: small; margin-bottom: 0">Last Updated On: {{ threat.original.last_update }}</p>
                    {% endif %}
                    <p class="font-weight-light" style="font-size: small;">
                        {% if threat.original.city %}
                            <span>{{ threat.original.city }}</span>
                            {% if threat.original.country_name %}, {% endif %}
                        {% endif %}
                        {% if threat.original.country_name %}
                            <span>{{ threat.original.country_name }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-6">
                    <p class="text-monospace">
                        主要威胁:
                        {% if type == 'CVE' %}
                            {% for cve in threat.CVEs %}
                                {% if cve == title %}
                                    <a style="color: red" href="https://www.cvedetails.com/cve/{{ cve }}">{{ cve }}</a>
                                {% else %}
                                    <a href="https://www.cvedetails.com/cve/{{ cve }}">{{ cve }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if threat.over %}
                            ...
                        {% endif %}
                    </p>
                    <p class="text-monospace">
                        运行服务：
                        {% for protocol in threat.original.protocols %}
                            {{ protocol }}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <br>
        <hr>

    {% endfor %}
    </div>

</body>
</html>